[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none
