<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="AppSettings">
      <section name="clientData" type="System.Configuration.AppSettingsSection, System.Configuration" />
      <section name="endpoints" type="System.Configuration.AppSettingsSection, System.Configuration" />
      <section name="scopes" type="System.Configuration.AppSettingsSection, System.Configuration" />
    </sectionGroup>
  </configSections>

  <AppSettings>
    <clientData>
      <add key="Id" value="" />
      <add key="UserName" value=""/>
      <add key="Secret" value=""/>
      <add key="OAuth" value=""/>
    </clientData>
    <endpoints>
      <add key="Auth" value="" />
      <add key="IP" value="" />
      <add key="Redirect" value=""/>
      <add key="Token" value=""/>
      <add key="Validate" value="" />
    </endpoints>
    <scopes>
      <add key="Bits" value="" />
    </scopes>
  </AppSettings>
</configuration>